.voting {
    @include outer-container;
    overflow: auto;

	.heading-ornament {
	    display: block;
	    margin-left: auto;
	    margin-right: auto;
	    margin-top: 0px;
	    margin-bottom: 10px;

	    width: 10em;
	}

    .ss-form-title {
    	text-align: center;
    	margin-bottom: 0.2em;
    }

    .ss-form-entry {
    	border: none;
    	text-align: center;
    	padding: 1em;
    }

    .ss-choice-label {
    	display: none;
    }

    .required-message {
    	display: none;
    }

    .ss-q-title, .ss-form-question, .ss-choices {
    	display: inline-block;
    }

    .ss-form-entry {
    	display: block;
    	margin: 0 auto;
    	outline: none;
    }
	
	.ss-form-question {
		width: 100%;

		@media screen and (min-width: 625px) {
			width: 49%;
		}
	}

	.jfk-button {
		  padding-top: 26px;
	}

    // Checkboxes
	@mixin form-checkbox(){
		display:inline-block;
        border:5px solid white;
        border-radius:50px;
        width:3.25em;
        height:3.25em;
		background-size: cover; 
        vertical-align:middle;
        margin:3px;
        opacity: 0.5;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);

	    &:checked + .form-checkbox {
            
            opacity: 1;
            -webkit-filter: grayscale(0%);
            filter: grayscale(0%)
        }
	}

	@mixin form-checkbox-checked(){
		opacity: 1;
		-webkit-filter: grayscale(0%);
		filter: grayscale(0%)
	}

    label.efirst-question {
		input[type="checkbox"] {display:none;}

    	.form-checkbox {
	        @include form-checkbox;
	        background: url('../images/RoundIcons-Free-Set-42.png');
	        background-size: cover; 
	    }

	    :checked + .form-checkbox {
            @include form-checkbox-checked;
        }
    }

    label.library-question {
		input[type="checkbox"] {display:none;}

    	.form-checkbox {
	        @include form-checkbox;
	        background: url('../images/browser.png');
	        background-size: cover; 
	    }

	    :checked + .form-checkbox {
            @include form-checkbox-checked;
        }
    }

    label.bundling-question {
		input[type="checkbox"] {display:none;}

    	.form-checkbox {
	        @include form-checkbox;
	        background: url('../images/RoundIcons-Free-Set-05.png');
	        background-size: cover; 
	    }

	    :checked + .form-checkbox {
            @include form-checkbox-checked;
        }
    }

    label.subscription-question {
		input[type="checkbox"] {display:none;}

    	.form-checkbox {
	        @include form-checkbox;
	        background: url('../images/calendar-mk2.png');
	        background-size: cover; 
	    }

	    :checked + .form-checkbox {
            @include form-checkbox-checked;
        }
    }

    label.partnerships-question {
		input[type="checkbox"] {display:none;}

    	.form-checkbox {
	        @include form-checkbox;
	        background: url('../images/handshake.png');
	        background-size: cover; 
	    }

	    :checked + .form-checkbox {
            @include form-checkbox-checked;
        }
    }

    label.audio-question {
		input[type="checkbox"] {display:none;}

    	.form-checkbox {
	        @include form-checkbox;
	        background: url('../images/headphones.png');
	        background-size: cover; 
	    }

	    :checked + .form-checkbox {
            @include form-checkbox-checked;
        }
    }

    label.responsive-question {
		input[type="checkbox"] {display:none;}

    	.form-checkbox {
	        @include form-checkbox;
	        background: url('../images/RoundIcons-Free-Set-43.png');
	        background-size: cover; 
	    }

	    :checked + .form-checkbox {
            @include form-checkbox-checked;
        }
    }

	
	// Transparent highlighting
    ::selection {
      background: transparent; /* WebKit/Blink Browsers */
    }
    ::-moz-selection {
      background: transparent; /* Gecko Browsers */
    }

    ::-webkit-selection {
      background: transparent; /* Gecko Browsers */
    }
}
