//colors
$color_athens_gray_approx: rgb(231,238,247);
$white: rgb(255,255,255);
$concrete: rgb(242,242,242);
$color_quill_gray_approx: rgb(212,212,212);
$color_tapa_approx: rgb(119,119,119);
$color_fuscous_gray_approx: rgb(80,80,80);
$color_stack_approx: rgb(140,140,140);
$color_thunderbird_approx: rgb(196,59,29);
$color_blue_approx: rgb(0,0,238);
$color_daisy_bush_approx: rgb(85,26,139);
$color_red_approx: rgb(252,0,0);

//fonts
$font_0: Roboto;
$font_1: Arial;

//urls
$url_0: url(//ssl.gstatic.com/docs/forms/themes/images/v1/0AX42CRMsmRFbUy03NTAzM2Q4My03ODU1LTQ2NzItODI2YS1kZmU5YzdiMzZjOGQ/blue-stripe-bg.png);
$url_1: url(//ssl.gstatic.com/docs/forms/forms_logo_small_dark.png);
$url_2: url(//ssl.gstatic.com/docs/forms/forms_logo_small_dark_2x.png);

//@extend-elements
//original selectors
//.ss-page-title, .ss-section-title
%extend_1 {
	font-family: $font_0;
	color: $color_fuscous_gray_approx;
	font-weight: 400;
	font-size: 1.845rem;
	font-style: normal;
}

//original selectors
//.ss-form-desc, .ss-page-description, .ss-section-description
%extend_2 {
	font-family: $font_0;
	color: $color_stack_approx;
	font-weight: 400;
	font-size: 1.080rem;
	font-style: normal;
}

//original selectors
//.ss-q-help, .ss-q-time-hint
%extend_3 {
	font-family: $font_0;
	color: $color_stack_approx;
	font-weight: 400;
	font-size: 1.000rem;
	font-style: normal;
}

//original selectors
//.ss-choice-label, .video-secondary-text, .ss-gridrow-leftlabel, .ss-gridnumber, .ss-scalenumber, .ss-leftlabel, .ss-rightlabel
%extend_4 {
	font-family: $font_0;
	color: $color_fuscous_gray_approx;
	font-weight: 400;
	font-size: 1.000rem;
	font-style: normal;
}

//original selectors
//.error-message, .required-message, .ss-required-asterisk
%extend_5 {
	font-family: $font_0;
	color: $color_thunderbird_approx;
	font-weight: 400;
	font-size: 1.000rem;
	font-style: normal;
}


body {
	background-color: $color_athens_gray_approx;
	background-image: $url_0;
	background-repeat: repeat;
	background-position: left top;
	font-family: $font_0;
	color: $color_tapa_approx;
	font-weight: 400;
	font-size: 1.080rem;
	font-style: normal;
}
.ss-form-container {
	background-color: $white;
	border-color: $color_quill_gray_approx;
}
.ss-resp-card {
	background-color: $white;
	border-color: $color_quill_gray_approx;
}
.ss-footer {
	background-color: $white;
}
.ss-response-footer {
	background-color: $white;
}
.ss-grid-row-odd {
	background-color: $concrete;
}
.ss-form-title {
	text-align: left;
	font-family: $font_0;
	color: $color_fuscous_gray_approx;
	font-weight: 400;
	font-size: 2.460rem;
	font-style: normal;
}
.ss-form-title[dir="rtl"] {
	text-align: right;
}
.ss-form-desc {
	text-align: left;
	@extend %extend_2;
}
.ss-form-desc[dir="rtl"] {
	text-align: right;
}
.ss-header-image-container {
	height: 0;
}
.ss-item {
	font-size: 1.080rem;
}
.ss-choices {
	font-size: 1.000rem;
}
.ss-record-username-message {
	font-family: $font_0;
	color: $color_tapa_approx;
	font-weight: 400;
	font-size: 1.080rem;
	font-style: normal;
}
.ss-confirmation {
	font-family: $font_0;
	color: $color_fuscous_gray_approx;
	font-weight: 400;
	font-size: 2.460rem;
	font-style: normal;
}
.ss-page-title {
	@extend %extend_1;
}
.ss-section-title {
	@extend %extend_1;
}
.ss-page-description {
	@extend %extend_2;
}
.ss-section-description {
	@extend %extend_2;
}
.ss-resp-content {
	font-family: $font_0;
	color: $color_tapa_approx;
	font-weight: 400;
	font-size: 1.080rem;
	font-style: normal;
}
.ss-q-title {
	font-family: $font_0;
	color: $color_fuscous_gray_approx;
	font-weight: 700;
	font-size: 1.080rem;
	font-style: normal;
}
.ss-q-help {
	@extend %extend_3;
}
.ss-q-time-hint {
	@extend %extend_3;
}
.ss-choice-label {
	@extend %extend_4;
}
.video-secondary-text {
	@extend %extend_4;
}
.ss-gridrow-leftlabel {
	@extend %extend_4;
}
.ss-gridnumber {
	@extend %extend_4;
}
.ss-scalenumber {
	@extend %extend_4;
}
.ss-leftlabel {
	@extend %extend_4;
}
.ss-rightlabel {
	@extend %extend_4;
}
.error-message {
	@extend %extend_5;
}
.required-message {
	@extend %extend_5;
}
.ss-required-asterisk {
	@extend %extend_5;
}
.ss-send-email-receipt {
	font-family: $font_0;
	color: $color_fuscous_gray_approx;
	font-weight: 400;
	font-size: 1.000rem;
	font-style: normal;
}
.ss-password-warning {
	font-family: $font_1;
	color: $color_tapa_approx;
	font-weight: 400;
	font-size: 1.000rem;
	font-style: italic;
}
.disclaimer {
	font-family: $font_1;
	color: $color_tapa_approx;
	font-weight: 400;
	font-size: 0.850rem;
	font-style: normal;
}
.ss-footer-content {
	font-family: $font_1;
	color: $color_fuscous_gray_approx;
	font-weight: 400;
	font-size: 1.000rem;
	font-style: normal;
}
.progress-label {
	font-family: $font_0;
	color: $color_stack_approx;
	font-weight: 400;
	font-size: 1.000rem;
	font-style: normal;
}
a {
	&:link {
		color: $color_blue_approx;
	}
	&:visited {
		color: $color_daisy_bush_approx;
	}
	&:active {
		color: $color_red_approx;
	}
}
input[type='text'] {
	font-size: 1.000rem;
}
textarea {
	font-size: 1.000rem;
}
.error {
	border-color: $color_thunderbird_approx;
}
.required {
	border-color: $color_thunderbird_approx;
}
.errorbox-bad {
	border-color: $color_thunderbird_approx;
}
.ss-logo-image {
	background-image: $url_1;
	background-size: 108px 21px;
	width: 108px;
	height: 21px;
}
@media screen and(-webkit-device-pixel-ratio: 2) {
	.ss-logo-image {
		background-image: $url_2;
	}
}
.ss-embeddable-object-container .ss-q-title {
	font-family: $font_0;
	color: $color_fuscous_gray_approx;
	font-weight: 700;
	font-size: 1.845rem;
	font-style: normal;
}
input:not([type]) {
	font-size: 1.000rem;
}
.jfk-progressBar-nonBlocking .progress-bar-thumb {
	background-color: $color_stack_approx;
}