.reveal {
	.dragons-den-type {
		font-family: "masonregular", "adobe-caslon-pro",serif;
		font-style: normal;
		color: white;
	}

	.dragons-den-url {
		font-family: sans-serif;
		font-style: normal;
		color: white;
	}

	h3 {
		text-align: left;
	}

	.idea-icon {
		display: block;
		margin-left: auto;
		margin-right: auto;

		height: 3em;

		border: none;
		box-shadow: none;
		text-align: center;
	}
}