@font-face {
    font-family: 'masonregular';
    src: url('../fonts/creed-webfont.eot');
    src: url('../fonts/creed-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/creed-webfont.woff2') format('woff2'),
         url('../fonts/creed-webfont.woff') format('woff'),
         url('../fonts/creed-webfont.ttf') format('truetype'),
         url('../fonts/creed-webfont.svg#masonregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
